.alertdiv{
    width:400px;
    height:50px;
    background: rgb(68,77,108);
background: linear-gradient(90deg, rgba(68,77,108,1) 0%, rgba(5,29,58,1) 100%);
    color:white;
    position: absolute;
    top:5%;
    left:40%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Lobster";
    border-radius: 10px;
}